/* Basic Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body */
body {
  font-family: 'Trebuchet MS', sans-serif;
  line-height: 1.6;
}

/* Grid Layout for 3x3 Rectangles */
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);  /* 3 equal columns */
  grid-template-rows: repeat(3, 1fr);     /* 3 equal rows */
  gap: 20px;                             /* Space between grid items */
  padding: 20px;
  width: 70%; /* Width of the container */

  position: absolute;
  top: 60%; /*Move the div to the center vertically */
  left: 50%; /* Move the div to the center horizontally */
  transform: translate(-50%, -50%); /* Adjusts the div to truly center */
}

/* CONTAINER ITEMS */
.grid-item {
  background-color: #f4f4f4;
  border: 1px solid #000000;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  height: 150px; /* Set height of each rectangle */
  transition: background-color 0.3s;

  position: relative;
  display: inline-block;
}

.image-container img {
  max-width: 100%;  
  max-height: 100%; 
  object-fit: cover; /* crops the image to cover the box */
}

.grid-item:hover {
  border: 3px solid #a5a5a5; /* hover over the box */
}

.text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(0, 0, 0); /* Text color */
  font-size: 24px;
  text-align: center; /* Center the text */
}

/* HEADER */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid #ffffff;
  background-color: #ffffff;
  text-align: center; /* Centers the content of the ul */
}

li {
  display: inline-block; /* Changes float to inline-block for centering */
}

li a {
  display: block;
  color: #666;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
